body{
    background-color:steelblue;
}

h1{
    font-size: 36px;
   text-align: center;
}

li{
    font-size: 16px;
}

div{
    width: 50%;
    margin: auto;
}

button{
    background-color: rgb(46, 91, 131);
    color: azure;
    font-size: 12px;
    cursor: pointer;
    border-radius: 8%;
}