@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

body {
    background-image: url(./img/Picsart_23-09-27_15-36-28-339.jpg);
    margin: 0;
    display: grid;
    grid-template-columns: 20rem auto;
    font-family: 'Poppins', sans-serif;
}

aside {
    min-height: 100vh;
    background-color: #d0869d;
    box-shadow: rgb(204, 219, 232) 0 0 0 0px inset, rgba(255, 255, 255, 0.5)0 0 6px 2px inset;
    color: #fdf3f3;
    text-align: center;

}

aside h2 {
    margin: 6rem 0;
    font-size: 3rem;
}

aside a {
    text-decoration: none;
    color: #fdf3f3;
}

aside a:hover {
    color: #eacece;
    text-shadow: 1px 1px 2px black, 0 0 25px purple, 0 0 5px #892a8c;
}

aside .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

aside .menu div {
    margin: 1.5rem 0;
    font-size: 1.5rem;
}

section {
    width: 85rem;
    margin: 0 auto;
}



section h1 {
    font-size: 3rem;
    color: #d0869d;
    text-align: center;
}
/* ----default---- */