@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('../styleStatic.css');


section form {
  width: 40rem;
  height: 40rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  margin: auto;
  padding: 1rem 5rem;
}

section h3 {
  text-align: center;
  color: rgb(208, 134, 157);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

section form .text-line {
  font-size: 1.1rem;
  margin: 1.3rem 0;
  display: flex;
  flex-direction: column;
}

section form .text-line label {
  margin: .5rem 0;
  font-size: 1.1rem;
}

section form .text-line input {
  font-size: .95rem;
  width: 50%;
  border: 0;
  border-bottom: 2px solid #d0869d;
  outline: none;

}

section form .text-line textarea {
  border: 0;
  border-bottom: 2px solid #d0869d;
  margin-bottom: 1rem;
  width: 100%;
  outline: none;

}

section form .text-line.address {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 0;
}

section form .text-line.address input {
  width: 92%;
  margin-top: 1rem;
  outline: none;

}

button {
  color: rgb(253, 243, 243);
  background-color: #d0869d;
  padding: .5rem 2rem;
  font-size: 1rem;
  margin: 3rem auto 0;
  display: flex;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 0 #d0869d, 2px 4px 6px;
  cursor: pointer;
}

button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 160, 160, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px rgb(177, 115, 177);
}